<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Scanner
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>
    <button ion-button color="dark" full round (click)="scan()">Start Scan</button>
  </h1>
  
  <!-- <ion-card *ngIf="productFound">
    <ion-card-header>
      <h2>Price: $ {{selectedProduct.price}}</h2>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>{{selectedProduct.plu}}</li>
        <li>{{selectedProduct.name}}</li>
        <li>{{selectedProduct.desc}}</li>
      </ul>
    </ion-card-content>
  </ion-card> -->

  <ion-card *ngIf="scanFlag">
    <ion-card-header>
      <h2>Scanned Code:</h2>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>{{ scannedCode }}</li>
      </ul>
    </ion-card-content>
  </ion-card>
  
</ion-content>
<!--
<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-img src="assets/imgs/computer_code.jpg"></ion-img>

  <p>
      My name is <b>Wan Mat</b>. 
      I created this app 3 years ago 
      and today I run it together with my son <b>Wan Ahmad Qais</b>.
  </p>
  <p>
      We believe that computing is affecting the lives of everyone on the planet 
      and we think is important to provide better tools for people 
      to access the potential offered by computer.
  </p>
  <p>
      This is why our goal is to provide better tools to people to perform their work. 
      We believe that languages are the most important tools because 
      we use them to think about our ideas, communicate and express them.
  </p>

</ion-content>
-->